* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: cornflowerblue;
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.one {
    background-color: crimson;
    flex: 1 0 200px;
    height: 75px;
}

.two {
    flex: 3 0 400px;
    background-color: lightblue;
    height: 75px;
}

.three {
    flex: 1 0 200px;
    background-color: yellowgreen;
    height: 75px;
}

.footer {
    text-align: center;
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: coral;
}

/* Маленькие экраны */

@media screen and (max-width: 780px) {
    .two {
        order: 1;

    }

    .one {
        order: 2;
        flex-basis: 50%;
    }

    .three {
        order: 3;
        flex-basis: 50%;
    }
}

@media screen and (max-width: 600px) {
    .two {
        order: 1;
        flex-basis: 100%;

    }

    .one {
        order: 2;
        flex-basis: 100%;

    }

    .three {
        order: 3;
        flex-basis: 100%;

    }
}
