* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="task"] {
    width: 100%;
    background-color: dodgerblue;
    height: auto;
    border: 1px solid blue;
    margin-bottom: 10px;
}

[class*="task"] span {
    padding: 20px;
    color: white;
}

[class*="task"] .marked {
    background-color: white;
    color: dodgerblue;
}

.task1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.task3 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.task3 span {
    width: 150px;
}

.task4 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.task4 span {
    width: 150px;
    border: 1px solid blue;
    align-self: stretch;
}

.task5 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.task5 span {
    width: 150px;
    border: 1px solid blue;
}

.task6 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.task6 span {
    width: 150px;
    border: 1px solid blue;
}

.task7 {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.task7 span {
    width: 150px;
    border: 1px solid blue;
}

.task8 {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.task8 span {
}

.task9 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.task9 span {
    width: 100%;
    border: 1px solid blue;
}

.flex-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-item {
    list-style: none;
    padding-top: 25px;

    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 3em;
    color: white;
    background-color: crimson;
    text-align: center;
}

.flex {
    margin-top: 50px;
    display: flex;
    background-color: dodgerblue;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    flex-wrap: wrap;
}

.flex span {
    /*flex: 1 100%;*/
    padding: 10px;
    color: white;
}

.header {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: cornflowerblue;
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.one {
    background-color: crimson;
    flex: 1 1;
}
.two {
    flex: 3 1;
    background-color: lightblue;
}
.three {
    flex: 1 1;
    background-color: yellowgreen;
}
.footer {
    text-align: center;
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: coral;
}
/* Средние экраны */
@media screen and (max-width: 900px) {
    .flex {
        /* Для экранов среднего размера мы выравниваем навигацию по центру,
        равномерно распределяя свободное место между элементами */
        justify-content: space-around;
    }

    .container .three {
        width: 100%;
    }
}

/* Маленькие экраны */
@media screen and (max-width: 768px) {
    .flex {
        /* На маленьких экранах вместо строки мы располагаем элементы в столбце */
        flex-direction: column;
    }
    .task9 {
        width: auto;
    }

}