* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    display: table;
}

.header span {
    font-size: 3em;
    position: relative;
    display:table-cell;
    vertical-align: middle;
    text-shadow: 3px 3px 2px #6C9, -3px -3px 2px crimson;
}

.header span:before {
    content: 'the_';
}

.header span:after {
    content: '_site';
}

body {
    background: white;
}

.content .pictures {
    width: 85%;

    float: left;
    height: auto;
    /*max-height: 714px;
    min-height: 278px;*/
    overflow: hidden;


}



.content .fixed {
    position: fixed;
    height: 55px;
    width: 55px;
    overflow: hidden;
    color: white;
    text-align: center;
    display: table;
    top: 10px;
    right: 10px;
    background-color: black;
    border-radius: 100%;
    transition-duration: 0.5s;
}
.content .fixed span{
    display: table-cell;
    vertical-align: middle;
}
.content .fixed:hover {
    width: 100px;
    border-radius: 10px;
}
.content .fixed:hover span{
    color: white;
}
.content .pictures img {
    float: left;
    height: auto;
    max-width: 85%;

}

.content .pictures img:hover {
    transform: scale(2);
}

.content .ad {
    width: 15%;
    height: 700px;
    display: block;
    float: right;
    text-align: center;
    box-shadow: inset 50px 50px 40px -10px black;

    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;

}

.content .ad span {
    writing-mode: vertical-rl ;
   padding: 50%;
}

.texts {
    clear: both;

    width: 100%;
    height: auto;
    overflow: auto;
}

.texts div {
    background-color: white;
    margin: 1px;
    float: left;
    width: 33%;
    height: 150px;
    overflow: scroll;
}

.footer {
    width: 100%;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    float: top;
}

.footer .content {
    width: 400px;
    height: 100%;
    /*border: 1px solid red;*/
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .content .nav {
    text-align: center;
    width: 100%;
    height: auto;
    /*border: 1px solid red;*/
}
.footer .content .nav ul {
    margin-top: 30px;
    list-style: none;

}
.footer .content .nav li {
    display: inline;
}

.footer .content .nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
}
.footer .content .nav a:hover {
    border-bottom: 2px solid white;
}

.footer .content .logo {
    font-size: 3em;
}
.form {
    margin-top: 30px;
}
@media only screen and (max-width: 768px) {
    .content .pictures img {
        max-width: 100%;
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
        clear: both;
    }

    .content .pictures {
        padding: 10px;
        width: 100%;
    }

    .content .pictures img:hover {
        transform: none;
    }

    .content .ad {
        clear: both;
        display: block;
        width: 100%;
        height: 200px;
        padding: 10%;

    }

    .content .ad span
    {

        writing-mode: lr;
        padding: 30px 0px 0px 0px;

    }
    .texts div {
        max-width: 100%;
        clear: both;
        width: 100%;
    }


}