* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

/*
animation: animation-name animation-duration animation-timing-function animation-delay animation-iteration-count animation-direction;*/
@keyframes task1 {
    from {
        margin-left: 0
    }
    to {
        margin-left: 50%;
    }
}

@keyframes task3 {
    from {
        background-color: #fff;
    }
    to {
        background-color: red;
    }
}

@keyframes task4 {
    0% {
        left: 0%;
        top: 0%;
    }
    25% {
        left: 100%;
        top: 0%;
    }
    50% {
        left: 100%;
        top: 100%;
    }
    75% {
        left: 0%;
        top: 100%;
    }
    100% {
        left: 0%;
        top: 0%;
    }
}

@keyframes task5 {
    0% {
        left: 0%;
        top: 0%;
        background-color: red;
    }
    25% {
        left: 100%;
        top: 0%;
        background-color: white;
    }
    50% {
        left: 100%;
        top: 100%;
        background-color: red;
    }
    75% {
        left: 0%;
        top: 100%;
        background-color: white;
    }
    100% {
        left: 0%;
        top: 0%;
        background-color: lightblue;
    }
}

@keyframes task6 {
    0% {
        left: 0%;
        background-color: red;
    }
    50% {
        left: 100%;
        background-color: green;
    }
    100% {
        left: 0%;
        background-color: blue;
    }
}

@keyframes task7 {
    0% {
        left: 0%;
        background-color: red;
    }
    100% {
        left: 100%;
        background-color: blue;
    }
}

@keyframes task8 {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes task10 {
    from {
        width: 25%;
        background-color: yellowgreen;
    }
    to {
        width: 100%;
        background-color: lightblue;
    }
}

@keyframes task11 {
    from {
        width: 25%;
        color: white;
        background-color: red;
    }
    to {
        width: 100%;
        color: red;
        background-color: white;
    }
}

@keyframes frame {
    0% {
        border-color: crimson;
    }
    25% {
        border-color: yellowgreen;
    }
    50% {
        border-color: deepskyblue;
    }
    75% {
        border-color: darkorange;
    }
    100% {
        border-color: blue;
    }
}

@keyframes ball {
    0% {
        left: 5px;
        bottom: 175px;
        background-color: crimson;
        animation-timing-function: ease-in;
    }
    15% {
        bottom: 0px;
        background-color: yellowgreen;
        animation-timing-function: ease-out;
    }
    27% {
        bottom: 70px;
        background-color: deepskyblue;
        animation-timing-function: ease-in;
    }
    37% {
        bottom: 0px;
        background-color: darkorange;
        animation-timing-function: ease-out;
    }
    47% {
        bottom: 35px;
        background-color: purple;
        animation-timing-function: ease-in;
    }
    56% {
        bottom: 0px;
        background-color: yellow;
        animation-timing-function: ease-out;
    }
    60% {
        left: 120px;
        bottom: 10px;
        background-color: yellow;
        animation-timing-function: ease-in;
    }
    65% {
        bottom: 0px;
        left: 130px;
        background-color: yellow;
        animation-timing-function: ease-out;
    }
    /*
        80% {
            bottom: 7px;
            background-color: yellow;
            animation-timing-function: ease-in;
        }
        95% {
            bottom: 0px;
            background-color: yellow;
            animation-timing-function: ease-out;
        }
        100% {
            bottom: 3px;
            left: 120px;
            background-color: blue;
            animation-timing-function: ease-in;
        }*/
}

.task-1 div {
    border: 1px solid red;
    width: 50px;
    height: 50px;
    animation: task1 2s ease normal;
    animation-iteration-count: 3;
}

.task-2 div {
    border: 1px solid red;
    width: 50px;
    height: 50px;
    animation: task1 2s ease normal;
    animation-iteration-count: infinite;
}

.task-3 div {
    border: 1px solid red;
    width: 100px;
    height: 100px;
    animation: task3 2s ease normal;
    animation-iteration-count: infinite;
}

.task-4 {
    border: 1px solid green;
    position: relative;
    width: 50%;
    height: 200px;
}

.task-4 div {
    position: absolute;
    border: 1px solid red;
    width: 50px;
    height: 50px;
    animation: task4 3s ease normal;
    animation-iteration-count: infinite;
}

.task-5 {
    margin-top: 10px;
    border: 1px solid blue;
    position: relative;
    width: 50%;
    height: 200px;
}

.task-5 div {
    position: absolute;
    border: 1px solid red;
    width: 50px;
    height: 50px;
    animation: task5 3s ease normal;
    animation-iteration-count: infinite;
}

.task-6 {
    position: relative;
    width: 50%;
    height: 60px;
}

.task-6 div {
    position: absolute;
    border: 1px solid red;
    width: 50px;
    height: 50px;
    animation: task6 1.5s ease normal;
    animation-iteration-count: infinite;
}

.task-7 {
    margin-top: 10px;
    position: relative;
    width: 50%;
    height: 60px;
}

.task-7 div {
    position: absolute;
    border: 1px solid red;
    width: 50px;
    height: 50px;
    animation: task7 1.5s ease alternate;
    animation-iteration-count: infinite;
}

.task-8 {
    margin-top: 10px;
    width: 50%;
    height: 20px;
    border: 1px solid red;
}

.task-8 div {
    background-color: blue;
    height: 5px;
    animation: task8 20s linear forwards;
    animation-iteration-count: 1;
}

.task-9 {
    margin-top: 10px;
    width: 50%;
    height: 20px;
    border: 1px solid red;
}

.task-9 div {
    background-color: blue;
    height: 5px;
    animation: task8 1.5s linear alternate;
    animation-iteration-count: infinite;
}

.task-10 {
    margin-top: 10px;
    width: 50%;
    height: 40px;
    border: 1px solid red;
}

.task-10 div {
    background-color: darkorange;
    height: 30px;
    animation: task10 2s ease alternate;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.task-10:hover div {
    animation-play-state: running;
}

.task-11 {
    margin-top: 10px;
    width: 50%;
    border: yellowgreen 1px solid;
    text-align: center;
    height: 80px;
}

.task-11 div {
    background-color: darkorange;
    height: 30px;
}

.task-11 div + div {
    margin-top: 5px;
    border: 1px solid darkorange;
    height: 35px;
    animation: task11 2s ease alternate;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.task-11 div:hover + div {
    animation-play-state: running;
}

.task-11 div:hover + div span {
    display: block;
    animation-play-state: running;
}

.task-11 div + div span {
    display: none;
    animation-play-state: running;
}

.task-12 {
    position: relative;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px solid crimson;
    animation: frame 5s ease alternate;
    animation-iteration-count: infinite;
}
.task-12 .ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: crimson;
    border-radius: 100%;
    animation: ball 4s normal;
    animation-iteration-count: infinite;
}

.task-13 ul {
    list-style: none;
    counter-reset: marker;
}
.task-13 li::before {
    counter-increment: marker;
    content: counters(marker, ".") " ";
    border: 2px solid yellow;
    background-color: green;
    color: yellow;
    padding: 3px;
    margin-right: 4px;
}

.task-13 li:nth-child(2)::before {
    content: counters(marker, ".") " ";
    border: 2px solid blue;
    background-color: yellow;
    color: blue;
    padding: 3px;
    display: inline-block;
    text-align: center;
}

.task-14 ul {
    list-style: none;
    counter-reset: marker;
}
.task-14 li::before {
    counter-increment: marker;
    content: counters(marker, ".") " ";
    background-color: dodgerblue;
    color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}
.task-14 div {
    float: left;
}

.task-14 div + div ul{
    list-style: none;
    counter-reset: marker 4;
}
.task-14 div + div ul li::before {
    counter-increment: marker;
    content: counters(marker, ".") " ";
    background-color: dodgerblue;
    color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}
