* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

[class*="task"] {
    width: 300px;
    height: 50px;
    background-color: darkorange;
    color: black;
    margin-bottom: 5px;
}

.task-1 {
    transition: 1s linear;
}

.task-1:hover {
    background-color: yellow;
}

.task-2 {
    transition: 1s linear;
}

.task-2:hover {
    background-color: yellow;
    color: red;
}

.task-3 {
    transition: 1s ease;
}

.task-3:hover {
    width: 100%;
}

.task-4 {
    transition: 1s ease;
}

.task-4:hover {
    font-size: 2.5em;
    width: 100%;
}

.task-5 {
    transition: 1s ease;
}

.task-5:hover {
    margin-left: 25%;
    width: 50%;
}

.task-6 {
    position: relative;
    white-space: nowrap;
}

.task-6 span {
    position: absolute;
    top: 0px;
    transition: 1s ease;
    /*transition-delay: 1s;*/
    left: 1000%;
}

.task-6:hover span {
    left: 15px;
    top: 0px;
}

.task-7 {
    transition: 5s ease;
    transition-delay: 2s;
}

.task-7:hover {
    width: 100%;
}

.task-8 input {
    transition: all 1s ease;
}

.task-8 input:focus {
    width: 90%;
}

.task-9 {
    width: 50%;
    border: 1px solid crimson;
    background-color: transparent;
    padding: 10px;
    height: auto;
}

.task-9 div {
    border: 1px solid yellowgreen;
    transition: 1s ease;
    width: 50%;
    margin-bottom: 5px;
    height: 40px;
}

.task-9:hover div {
    width: 100%;
}

.task-10 {
    width: 50%;
    border: 1px solid crimson;
    background-color: transparent;
    padding: 10px;
    height: auto;
}

.task-10 div {
    border: 1px solid yellowgreen;
    transition: 1s ease;
    width: 50%;
    margin-bottom: 5px;
    height: 40px;
}

.task-10 div:hover + div {
    width: 100%;
}

.task-11 {
    width: 50%;
    border: 1px solid crimson;
    background-color: transparent;
    padding: 10px;
    height: auto;
}

.task-11 div {
    border: 1px solid yellowgreen;
    transition: 1s ease;
    width: 50%;
    margin-bottom: 5px;
    height: 40px;
}

.task-11 div:hover ~ div {
    width: 100%;
}

.task-12 {
    width: 50%;
    border: 1px solid crimson;
    background-color: transparent;
    padding: 10px;
    height: auto;
}

.task-12 div {
    border: 1px solid yellowgreen;
    transition: 1s ease;
    width: 50%;
    margin-bottom: 5px;
    height: 40px;
}

.task-12 div:hover + div + div {
    width: 100%;
}

.task-12 {
    width: 50%;
    border: 1px solid crimson;
    background-color: transparent;
    padding: 10px;
    height: auto;
}

.task-13 {
    position: relative;
    width: 50%;
    height: 120px;
    text-align: center;
}

.task-13 div {
    border: 1px solid yellowgreen;
    width: 100%;
    margin-bottom: 5px;
    height: 50px;
}

.task-13 div + div {
    transition: all 1s ease;
    position: absolute;
    left: 1000%;
    background-color: yellowgreen;
    border: 1px solid red;
}

.task-13 div:hover + div {
    left: 2.5%;
    width: 95%;
}

.task-14 {
    position: relative;
    width: 50%;
    height: 120px;
    text-align: center;
}

.task-14 div {
    background-color: yellowgreen;
    border: 1px solid red;
    width: 30%;
    margin-bottom: 5px;
    height: 50px;
    transition: all 5s steps(10, start);
}

.task-14 div + div {
    width: 30%;
    transition: all 5s steps(10, end);
}

.task-14 div:hover {
    width: 100%;
}

.task-14 div:hover + div {
    width: 100%;
}

.task-15 {
    position: relative;
    width: 50%;
    height: auto;
    padding: 10px;
    text-align: center;
}

.task-15 div {
    background-color: yellowgreen;
    border: 1px solid red;
    width: 30%;
    margin-bottom: 5px;
    height: 50px;
    transition: all 1s cubic-bezier(.20, -0.4, 0, .81);
}

.task-15 div:hover {
    width: 100%;
}

.task-16 {
    position: relative;
    width: 50%;
    height: auto;
    padding: 10px;
    text-align: center;
}

.task-16 .outside {
    position: relative;
    background-color: yellowgreen;
    border: 1px solid red;
    width: 100%;
    margin-bottom: 5px;
    height: 100px;
}

.task-16 .outside img {
    position: absolute;
    left: -100%;
    width: 100px;
    height: auto;
    max-width: 100%;
    transition: all 2s ease;
}

.task-16 .outside:hover img {
    left: 50%;
    transform: translate(-50%, 0);
}

.task-17 {
    position: relative;
    width: 50%;
    height: auto;
    padding: 10px;
    text-align: center;
}

.task-17 .outside {
    position: relative;
    background-color: yellowgreen;
    border: 1px solid red;
    width: 100%;
    margin-bottom: 5px;
    height: 100px;
}

.task-17 .outside img {
    position: absolute;
    left: -100%;
    width: 100px;
    height: auto;
    max-width: 100%;
    transition: all 3s steps(20, start);
}

.task-17 .outside:hover img {
    left: 50%;
    transform: translate(-50%, 0);
}
.task-18 {
    background-color: transparent;
    width: 50%;
    height: auto;
}
.task-18 div {
    border: 1px solid red;
    width: 150px;
    height: 50px;
    margin: 200px auto;
    transition: all 1s linear;
    box-shadow: -100px 100px black, 100px -100px black;
}

.task-18 div:hover {
    box-shadow: 100px 100px black, 100px 100px black;
}

