.Shape_2 {
  border-style: solid;
  border-width: 6px;
  border-color: rgba( 0, 0, 0, 0.5 );
  border-radius: 4px;
  background-image: -moz-linear-gradient( 90deg, rgb(52,174,34) 0%, rgb(110,210,88) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(52,174,34) 0%, rgb(110,210,88) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(52,174,34) 0%, rgb(110,210,88) 100%);
  opacity: 0.8;

  margin-top: 100px;
margin-left: 40%;
  width: 262px;
  height: 46px;
  z-index: 5;
}
body{
  background: url("Layer 3.png") no-repeat fixed;
  background-size: cover;
  height: 180vh;
}
#main{
  width: 100%;
height: 80vh;

}
#second{
  height:350px ;
  width: 700px;

  border-bottom: #51c03d 5px solid;
z-index: 2;
}

#third{
  height: 80vh;
  background-color: #ececec;
  position: relative;
  top: -200px;
  z-index: 1;
}
