.container1{
    width: 100%;
    height: 100vh ;
    margin: 0;
    background: url("http://i.imgur.com/AisNLso.jpg") no-repeat ;
    background-size: cover;
}
.social{

}
#img2{
    max-width: 100%;
    height: auto;
}
#img3{
    max-width: 100%;
    height: auto;
}