#main {
    width: 60vh;
    height: 110vh;
    background-color: #9cbc2b;
    border: 1px green solid;
    border-radius: 10px;
}
.bigtext{
    margin: 20px;
    font-size: 20px;
}
td{
    padding: 10px 10px 10px 15px;
    width:30%;
    text-align: left;

}

tr{
    background-color: #b9cf6a;
    border: 2px #e6faa6 solid;
    border-radius: 20px;

}
table{
    width: 95%;
    margin: 10px;
    border-collapse: collapse;
    border-radius: 20px;

}
tbody{

}
input{
    border-radius: 3px;
    border: none;
}
#da{
    border-radius: 20px;
}
#submit{
    width: 60px;
    height: 30px;
    color: white;
    border-radius: 5px;
    background-color: green;
}