p {
    color: green;
    text-align:center;
}

.paragraph_red {
    color: red;
}

#paragraph_pink {
    color: pink;
}

a {
    color: red;
}

ul > li > ul > li a {
    color: pink;
}

ul >li > ul > li {
    list-style-type: none;
}

ul > li a {
    color: green;
}

ul > li:last-child > ul > li {
    list-style-type: square;
    text-decoration: none;
}