form {
    display: inline-block;
    width: 450px;
    position: relative;
}

fieldset {
    background: #D9EC9F;
    border: 1px solid #356B19;
}

input, label {margin: 10px 5px;}

.answer {
    background: #C67033;
    border: 1px solid white;
    padding: 5px 15px;
    margin-bottom: 0;
    color: white;
}

legend {
    font: bold 15px Arial;
    color: #C67033;
}

img, span {position: absolute;}

span {font: bold 15px serif;}

.forma {
    float: right;
    margin: 50px 30px 10px 0;
}


