ul {
    background-color: green;
    margin: 1px;
    color: white;
    width:150px;
    padding:4px;
}

li {
    background-color: orange;
    list-style-type: none;
    color: black;
    padding:2px;
    margin:0px 2px 0px 2px;
}

li:last-child {
    margin:0px 2px 2px 2px;
}

table {
    width:300px;
}

tr {
    background-color: lightgray;
}

table tr:nth-child(2n+1) {
    background-color: white;
}

table tr:first-child {
    background-color: blue;
    color: white;
}

table tr:last-child {
    background-color: red;
    color: white;
}

tr:nth-child(3n) > td:first-child {
    background-color: green;
}
