h1{
    color: red;
    margin-bottom: 25px;
}
p{
    color: yellow;

}
.one {
    width: 20%;
    height: 70%;
    padding: 5px;
    margin: 15px;
    border-bottom: 2px green solid;
    border-top: 2px blue solid;
    border-left: 2px red solid;
    border-right: 2px yellow solid;
}

* {
    background: no-repeat url("https://img.getbg.net/upload/full/www.GetBg.net_Backgrounds_Blue_Bird__blue_background_104962_.png");

}
i{
    color: blue;
}
img{
    width: 30%;
    height: 30%;
}