.logo , footer, .phone{

    background: #333333;
    border: 2px solid #a1a1a1;
    color: #dcdcdc;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 20px;
    margin: 10px;
    display: inline-block;
}

.info, nav{
    background: #f5f5f5;
    border: 2px solid #d0d0d0;
    color: #000000;
    margin: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;

}

.logo{
    width: 300px;
    height: 30px;

    text-align: center;

}
.phone{

    width: 150px;
    height: 30px;
    margin-left: 0px;

}
i{
    padding:5px 5px 5px 5px ;
}
.info{
    width: 300px;
    height: 300px;

    display: inline-block;
}
nav{
    width: 150px;
    height: 150px;
    display: inline-block;
    vertical-align:top;
    margin-left: 0px;
}
footer{
    width: 500px;
    height: 30px;
}
ul{
    list-style: none;
}