.bgc-img {
  width:1280px;
  height:946px;
  background-image: url("img/Task1/0.png");
  background-repeat: no-repeat;

}

.bgc-img div {
  width:700px;
  height:700px;
  background-repeat: no-repeat;
}

.deil1 {
  background-image: url("img/Task1/6.png");
  position: absolute;
  left: 250px;
  top: 180px;
}

.deil2 {
  background-image: url("img/Task1/3.png");
  position: absolute;
  left: 790px;
  top: 370px;
}

.chip {
  background-image: url("img/Task1/2.png");
  position: absolute;
  left: 990px;
  top: 350px;
}

.vzhik {
  background-image: url("img/Task1/4.png");
  position: absolute;
  left: 930px;
  top: 570px;
}

.gaika {
  background-image: url("img/Task1/5.png");
  position: absolute;
  left: 290px;
  top: 300px;
}

.rocfor {
  background-image: url("img/Task1/1.png");
  position: absolute;
  left: 0px;
  top: 564px;
}
