* {
  font-family: Arial;
}

tr > td:first-child {
  font-weight:bold;
  text-align: right;
}

input[type="password"] {
  border: 2px solid #c02992;
  background-color: #fdc2ec;
  width:250px;
  height:25px;
}

input[type="email"] {
  border: 2px solid #babe2a;
  background-color: #fdffb2;
  width:250px;
  height:25px;
}

input[type="text"] {
  border: 2px solid #babe2a;
  background-color: #fdffb2;
  width:250px;
  height:25px;
}

select {
  border: 2px solid #1a0f99;
  background-color: #bdb8f9;
  width:250px;
  height:30px;
}

textarea {
  border: 2px solid #068905;
  background-color: #c6ffc5;
  width:242px;
}

input[type="submit"] {
  background-color: #a8ff9d;
}

input[type="reset"] {
  background-color: #ff9198;
}
