body {
  font-family: "Segoe UI";
}

.picture img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.card div {
  display: inline-block;


}

.card-info {
  margin: 25px;
}

.pidpus {
  width: 100%;
  text-align: center;
  font-style: italic;
  margin: 0;
}

.picture {
  width:300px;
}

.info {
  vertical-align: top;
  max-width:700px;

}

.info:before {
  font-size: 2em;
  content: '\00AB' ;
  position: relative;
  top: 18px;
  color: gray;

}

.info:after {
  font-size: 2em;
  content: '\00BB' ;
  position: relative;
  left: 690px;
  top: -18px;
  color: gray;
}

.about {
  margin-left: 2em;
  margin-right: 2em;
  line-height: 1.5;
  font-style: italic;
  font-size:1.2em;

}

.author {
  text-align: right;
}

.author:before {
  content: "- ";
}

.card h1:before {
  content: "\2605  ";
}
