.nav li {
  display: inline-block;
}

.nav li a {
  text-decoration: none;
  color: #877160;
  padding:5px;
  border: 2px solid #B0C7D8;
  border-radius: 5px;
  margin: 5px;
}

.nav li a:hover {
  background-color: #607788;
  color: white;
}
