div {
  width:100px;
  height:100px;
  display:inline-block;
  background-image:url(img/white_sprait.png);
}

.google {
  background-color:#DA0404;
}

.twitter {
  background-color:#03AEDA;
  background-position:400px 0;
}

.mail {
  background-color:#FCA61B;
  background-position:300px 0;
}

.facebook {
  background-color:#0450DA;
  background-position:200px 0;
}

.orange {
  background-color:#F0812F;
  background-position:100px 0;
}

.vk {
  background-color:#0450DA;
  background-position:0 100px;
}

.mailru {
  background-color:#FCD41C;
  background-position:400px 100px;
}

.yandex {
  background-color:#DA0404;
  background-position:300px 100px;
}

.livejournal {
  background-color:#03AEDA;
  background-position:200px 100px;
}

.ok {
  background-color:#FF8931;
  background-position:100px 100px;
}
